.borderbox {
    border-radius: 10px;
    border: 0.5px solid rgb(216, 216, 216);
    margin: 50px 0px;
    padding: 0px;
    width: 100%;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }