<div class="leftcolumn">
    <div class="card">
        <div class="bannerIMG" style="height:200px;">
          <input type="image" src="./assets/img/banner.jpg" width=100%/> 
        </div>
      </div> 
<div class="borderbox"></div>
</div>

