<p>Add Test Question</p>

<div class="borderbox">
    <form (ngSubmit)="addQuestion(testForm)" #testForm="ngForm">
        <table style="width:100%; margin:0 auto; text-align:left;">
            <tr>
                <td>
                    <label>บทเรียน:</label>
                </td>
                <td>
                    <!-- Hard Code dropdown -->
                    <select>
                            <option>Chapet1</option>
                            <option>Chapet2</option>
                            <option>Chapet3</option>
                            <option>Chapet4</option>
                            <option>Chapet5</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>คำถาม:</label>
                </td>
                <td>
                    <input type="text"/>
                </td>
            </tr>
            <tr>
                <td style="vertical-align: top;">
                    <label>ตัวเลือก</label>
                </td>
                <td>
                    <table style="text-align:left;float:left;width:100%;border:solid;">
                        <thead>
                            <tr>
                                <th>Answer</th>
                                <th>Is Correct</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" />
                                </td>
                                 <td>
                                    <input type="radio" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" />
                                </td>
                                 <td>
                                    <input type="radio" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" />
                                </td>
                                 <td>
                                    <input type="radio" />
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <input type="text" />
                                </td>
                                 <td>
                                    <input type="radio" />
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </td>
            </tr>
        </table>
       

    </form>
</div>
