<h1 *ngIf="auth.user | async">Welcome {{ (auth.user | async)?.email }}!</h1>
<p>Login เข้าสู่ระบบ E-learning</p>

    <div class="container">
      <form (ngSubmit)="login(memberform)"  #memberform="ngForm">
          <table style="width:70%; margin:0 auto; text-align:left;">
                <tr>
                    <td>
                        <label for="email">Username</label>
                    <input type="text" id="email" name="email" ngModel placeholder="Your e-mail.." size="50" style="width:90%;"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" ngModel placeholder="Your Password.." size="50" style="width:90%;"/>
                    </td>
                </tr>  
                <tr>
                    <td colspan="100">
                        <input type="submit" value="Login" style="float: right;"/>
                    </td>
                    <td>
                        <input type="reset" value="Cancel" a routerLink="#" style="float : left;"/>
                    </td>
                </tr>
                <div class="nav-bar">
                    <tr> 
                        <td>
                            <a routerLink="/register" target='_top' disabled="!email || !password">Register</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <a routerLink="/forgotpassword" target='_top'>Forget password ?</a>
                        </td>
                    </tr>
                </div>
        </table>
    </form>
</div>