input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=reset] {
  background-color: red;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=password] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  padding-left: 100px;
}

.col-75 {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding-left: -100px;
}

.nav-bar a {
  margin: 5px 10px;
  float: left;
  display: inline;
  color: #7c7c7c;
  text-align: center;
  text-align : center;
  text-decoration: none;
  vertical-align: middle;
}

a {
  a:link, a:visited {
    background-color:rgb(224, 223, 223);
    color: white;
    text-align: center;
    text-decoration: none;
    display:inline;
  }
}

a:hover, a:active {
text-decoration: none;
border-bottom: 2px solid rgb(238, 119, 8);
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}