<div class="leftcolumn">
   
    <div class="borderbox">
            <h1>Add Course</h1>
    
        <div class="container">
            
            <form >
                <table style="width:80%; margin: 50px;">
                    <tr>
                        <td>
                            <label for="nameTopic"> Topic</label>
                        </td>
                        <td>
                            <input type="text" name="nameTopic" ngModel size="100" style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="nTeacher">ผู้สอน</label>
                        </td>
                        <td>
                            <input type="text" name="nTeacher" ngModel size="20" style="width:70%;">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="image">IMAGE</label>
                        </td>
                        <td>
                            <input id="image" type="file" (change)="onFileChanged($event)"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">Link Video : 1</label>
                        </td>
                        <td>
                            <input type="text" name="name" ngModel size="20" style="width:70%;">
                            <td colspan="">
                            <input type="submit" value="Submit" style="float: center;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">Link Video : 2</label>
                        </td>
                        <td>
                            <input type="text" name="name" ngModel size="20" style="width:70%;">
                            <td colspan="">
                            <input type="submit" value="Submit" style="float: center;"/>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">File</label>
                        </td>
                        <td>
                            <input type="file" (change)="fileChange($event)" placeholder="Upload file" accept=".pdf,.doc,.docx"/>
                            <!-- <input type="file"  placeholder="Upload file" accept=".pdf,.doc,.docx"/> -->
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="description"> Description</label>
                        </td>
                        <td>
                            <textarea name="description" ngModel></textarea><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button type="button">Submit</button>
                        </td>
                    </tr>
                </table>
            </form>
            <a routerLink="/home">Back To Main Page</a>
        </div>          
    </div>
</div>