
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <!-- Logo Head -->
  <div>
    <table style="width:100%; margin:0 auto;">
      <tr>
        <td style="width:20%">
          <div class="logo-head" style="text-align:left;float:left;">
            <input type="image" src="./assets/img/logoCIC.png" width="100%" padding-left ="30px" height="100%" style="text-align:left;float:left"/> 
          </div>
        </td>
        <td style="width:80%;text-align: left">
          <div class= "headbox nav-bar-login" style="vertical-align:bottom;">
              <table style="width:100%; text-align:right;float: right;padding-top:7%" >
                <tr>
                    <td>
                        <button (click)="logout()" *ngIf="auth.user | async">
                                    Logout
                        </button>
                    </td>
                </tr>
              <div *ngIf="!(auth.user | async)">
                <a routerLink="/register">สมัครสมาชิก</a>
                <a routerLink="/login" >เข้าสู่ระบบ</a>
              </div>
                <a routerLink="/home" >หน้าหลัก</a>
                <a routerLink="/usermanage" >Usermanage</a>
              </table>
            </div>
        </td>
      </tr>
    </table>
  </div>

  <!-- Nav bar-->
  

  <div class="nav-bar">
    <!-- <input type="image" src="./assets/img/logoCAMT.png" width=100%/> -->
    <a routerLink="/course">Add Course</a>
    <a routerLink="">ประกาศนียบัตร</a>
    <a routerLink="/my-learning">การเรียนรู้ของฉัน</a>
    <a routerLink="/learningcourse">คอร์สเรียน</a>
    <a routerLink="/course-detail">คอร์สเรียนDetail</a>
    <a routerLink="/question-test">Pretest</a>
    <a routerLink="/question-management">Add Test</a>
    <a routerLink="/usertype">Usertype</a>
    <a routerLink="/user">User Detail</a>
  </div>

  <router-outlet></router-outlet>
 
 