input[type=text] {
      width: 100%;
      padding: 12px 20px;
      margin: 8px 0;
      font-size: 14px;
      box-sizing: border-box;
}

textarea {
  width: 70%;
  padding: 12px 20px;
  margin: 8px 0;
  font-size: 14px;
  box-sizing: border-box;
}
    
    button{
      width: 100%;
      border-radius: 25px;
      background: #73AD21;
      padding: 20px;
      width: 200px;
      height: 50px;
    }
     .nav-bar {
      overflow: hidden;
      border: 0.5px solid rgb(216, 216, 216);
      background-color: rgb(224, 223, 223);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    }
     .nav-bar a {
        margin: 25px 40px;
        float: left;
        display: inline;
        color: #7c7c7c;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
     }

     .nav a {
      margin: 25px 40px;
      float: left;
      display: inline;
      color: #bbbaba;
      text-align: center;
      text-decoration: none;
      vertical-align: middle;
    }
      .card {
        border-radius: 10px;
        border: 0.5px solid rgb(216, 216, 216);
        background-color: rgb(255, 255, 255);
        padding: 10px;
        margin-top: 0px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
      }
      .bannerIMG {
        background-color: rgb(73, 73, 73);
        width: 100%;
        margin: 20px 0px ;
        padding: 0px ;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
        }
      
      
      .leftcolumn {   
        float: left;
        width: 100%;
      }
      
      .borderbox {
        background-color: #5b4a42;
        border-radius: 5px;
        border: 0.5px solid rgb(216, 216, 216);
        margin: 5px 0px;
        padding: 0px;
        width: 100%;
        height: 50px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
      }

      .headbox {
        background-color: #373635;
        border: 0.5px solid rgb(216, 216, 216);
        padding: 20;
        border-radius: 5px;
        width: 100%;
        height: 150px;
        vertical-align: bottom;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
      }

      .logo-head {
        background-color: white;
        border-radius: 5px;
        border: 0.5px solid rgb(216, 216, 216);
        margin: 5px 0px;
        padding: 0px;
        width: 100%;
        height: 150px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
      }

      .nav-bar-login a {
        margin: 25px 40px;
        float: left;
        display: inline;
        color: #7c7c7c;
        text-align: right;
        float : right;
        text-decoration: none;
        vertical-align: middle;
     }
     

      a {
        a:link, a:visited {
          background-color:rgb(224, 223, 223);
          color: white;
          text-align: center;
          text-decoration: none;
          display:inline;
        }
      }

    a:hover, a:active {
      text-decoration: none;
      border-bottom: 4px solid rgb(238, 119, 8);
    }

      .back{
        background-color: #979696;
      }

      @media screen and (max-width: 800px) {
        .leftcolumn, .rightcolumn {   
          width: 100%;
          padding: 0;
        }
      }
      
      /* Responsive layout  */
      @media screen and (max-width: 400px) {
        .navi a {
          float: none;
          width: 100%;
        }
      }
  
        
  

   
