<div class="borderbox">
    <br>
    <label style="padding-left:50px">Question Test lesson 4</label>
</div>


<div class = "borderbox">
    <form action="/action_page.php">
        <table style="width:70%; margin:0 auto; text-align:center;">
        
            <p>1.ร้านค้าส่วนมากบนแพลทฟอร์มเถาเป่ามีรูปแบบธุรกิจแบบใด</p>
            <br>
            <input type="radio" id="male" name="gender" value="test">
            <label for="male" style="padding-left:30px;">เป็นธุรกิจขนาดใหญ่ เช่น ห้างสรรพสินค้าศูนย์การชื่อดัง</label><br>
            <br>
            <input type="radio" id="female" name="gender" value="test">
            <label for="female" style="padding-left:30px;">เจ้าของร้านส่วนบุคคลหรือนิติบุคคลขนาดเล็ก(ธุรกิจSMEs)</label><br>
            <br>
            <input type="radio" id="other" name="gender" value="test">
            <label for="other" style="padding-left:30px;">เป็นร้านค้าที่อยู่ในเครือข่ายของกลุ่ม Alibaba</label>
            <br>
            <br>
            <input type="radio" id="other" name="gender" value="test">
            <label for="other" style="padding-left:30px;">เป็นองค์กรที่เป็นหน่วยงานภาครัฐ หรือ รัฐวิสาหกิจ</label>
            <br>
            <br>  
        
            <p>2.แพลทฟอร์มการค้ารูปแบบC2C ที่ใหญ่ที่สุดในระเทศจีน ณ ปัจจุบันคือแพลทฟอร์มใด</p>
            <br>
            <input type="radio" id="male" name="gender" value="test">
            <label for="male" style="padding-left:30px;">Alibaba</label><br>
            <br>
            <input type="radio" id="female" name="gender" value="test">
            <label for="female" style="padding-left:30px;">Taobao</label><br>
            <br>
            <input type="radio" id="other" name="gender" value="test">
            <label for="other" style="padding-left:30px;">Qianniu</label>
            <br>
            <br>
            <input type="radio" id="other" name="gender" value="test">
            <label for="other" style="padding-left:30px;">Tmall</label>
            <br>
            <br>  
            
            <p>3.แพลทฟอร์มเถาเป่าคืออะไร</p>
            <br>
            <input type="radio" id="male" name="gender" value="test">
            <label for="male" style="padding-left:30px;">เว็บกลางเพื่อเสนอขายสินค้าที่ผลิตในประเทศจีน</label><br>
            <br>
            <input type="radio" id="female" name="gender" value="test">
            <label for="female" style="padding-left:30px;">เว็บขายสินค้าออนไลน์ที่ใหญ่ที่สุดในเอเชียแปซิฟิก ในเครือของ Alibaba Group</label><br>
            <br>
            <input type="radio" id="other" name="gender" value="test">
            <label for="other" style="padding-left:30px;">เว็บกลางซื้อขายอสังหาริมทรัพย์</label>
            <br>
            <br>
            <input type="radio" id="other" name="gender" value="test">
            <label for="other" style="padding-left:30px;">เว็บให้บริการออกแบบสินค้า</label>
            <br>
            <br>  

            <p>4.จุดเด่นของแพลตฟอร์มเถาเป่าคืออะไร
            </p>
            <br>
            <input type="radio" id="male" name="gender" value="test">
            <label for="male" style="padding-left:30px;">สินค้าหลากหลาย ราคาถูก มีร้านค้าเพื่อเลือกซื้อสินค้าจำนวนมาก</label><br>
            <br>
            <input type="radio" id="female" name="gender" value="test">
            <label for="female" style="padding-left:30px;">มีความน่าเชื่อถือ</label><br>
            <br>
            <input type="radio" id="other" name="gender" value="test">
            <label for="other" style="padding-left:30px;">เป็นผู้ผลิตสินค้าต้นทางที่เข้ามาเปิดร้านค้าจำหน่ายสินค้า</label>
            <br>
            <br>
            <input type="radio" id="other" name="gender" value="test">
            <label for="other" style="padding-left:30px;">เป็นช่องทางที่จะทำได้พบกับร้านค้าแบรนด์ดังต่างๆ เช่น อาดิดาส มิสทีน เป็นต้น</label>
            <br>
            <br>  

            <p>5.แพลตฟอร์มเถาเป่าเป็น E-commerce (พาณิชย์อิเล็กทรอนิกส์)  แบบใด</p>
            <br>
            <input type="radio" id="male" name="gender" value="test">
            <label for="male" style="padding-left:30px;">E-commerce  สำหรับธุรกิจขนาดเล็ก และรายย่อย ได้ขายของในจีน</label><br>
            <br>
            <input type="radio" id="female" name="gender" value="test">
            <label for="female" style="padding-left:30px;">E-commerce ที่ให้แบรนด์อินเตอร์ แบรนด์จีน เอาสินค้ามาขายในตลาดจีน</label><br>
            <br>
            <input type="radio" id="other" name="gender" value="test">
            <label for="other" style="padding-left:30px;">E-commerce แบบค้าส่ง ในตลาดจีน</label>
            <br>
            <br>
            <input type="radio" id="other" name="gender" value="test">
            <label for="other" style="padding-left:30px;">E-commerce  แบบค้าส่ง ที่ให้คนทั่วโลกได้ซื้อของ จากประเทศทั่วโลก</label>
            <br>
            <br>  
        </table>
    </form>
</div>
