

<div class="container">
    <p>Forgotpassword</p>
    <form>
      <table style="width:70%; margin:0 auto; text-align:left;">
<tr>
    <td>
        <label for="email">Email</label>
      <input type="text" id="email" name="email" placeholder="Your e-mail.." size="50" style="width:90%;"/>
    </td>
</tr>
<tr>
    <td>
        <label for="nPassword">New Password</label>
      <input type="text" id="nPassword" name="nPassword"  placeholder="New Password.." size="50" style="width:90%;"/>
    </td>
</tr>
<tr>
    <td>
        <label for="cPassword">Confirm Password</label>
      <input type="text" id="cPassword" name="cPassword"  placeholder="Confirm Password.." size="50" style="width:90%;"/>
    </td>
</tr>
    <tr>
    <td colspan="100">
      <input type="submit" value="Confirm" style="float: right;"/>
</td>
    <td>
      <input type="reset" value="Cancel" a routerLink="/home" style="float : left;"/>
    </td>
</tr>
<div class="nav-bar">
<tr> 
        <a routerLink="/Home" target='_top'>Back To Home</a>
    
</tr>

</div>
</table>
</form>
</div>