<div class="leftcolumn">
   
    <div class="borderbox">
            <h1>User type</h1>
    
        <div class="container">
            
            <form (ngSubmit)="addUserType(userTypeForm)" #userTypeForm="ngForm">
                <table style="width:80%; margin: 50px;">
                    <tr>
                        <td>
                            <label for="numID">ID : </label>
                        </td>
                        <td>
                            <input type="text" name="numID" ngModel ngModel size="100" style="width:70%">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="name">Name</label>
                        </td>
                        <td>
                            <input type="text" name="name" ngModel ngModel size="20" style="width:70%;">
                        </td>
                    </tr>       
                    <tr>
                        <td>
                            <label for="description"> Description</label>
                        </td>
                        <td>
                            <textarea name="description" ngModel ngModel></textarea><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                          <input type="submit" value="Submit" style="float: right;"/>
                        </td>
                        <td>
                          <input type="reset" value="Cancel" style="float: left;"/>
                        </td>
                      </tr>
                </table>
            </form>
            <a routerLink="/home">Back To Main Page</a>
        </div>          
    </div>
    <div class="borderbox" style="padding-top:100px;">
        <table class='table'>
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Description</td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of userTypes">
                    <td>{{data.value.name}}</td>
                    <td>{{data.value.description}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>    
