
<div class="leftcolumn">
    <div class="borderbox">
        <table>
            <tr>
                <td>
                    <h2></h2>

                    <p style="padding-left:30px;">Introduction :</p>
                    <button class="collapsible">Description</button>
                    <div class="content" >
                    </div>
     <br>
     <br>
                <div class="borderbox">                
                    <p style="padding-left:30px;">Course :</p>
                    <button class="collapsible">lesson 1</button>
                    <div class="content"><br>
                        <div class="nav-bar">
                            <td>
                                <a href="#">เอกสารประกอบการเรียน</a><br>
                                <a href="#">Pretest</a><br>
                                <a href="#">Clip online course</a><br>
                                <a href="#">Post test</a>
                            </td>
                        </div>
                    </div>
    
                    <button class="collapsible">lesson 2</button>
                    <div class="content"><br>
                    <div class="nav-bar">
                        <a href="#">Pretest</a>
                        <a href="#">Clip online course</a>
                        <a href="#">Post test</a>
                        </div>
                    </div>

                    <button class="collapsible">lesson 3</button>
                    <div class="content"><br>
                    <div class="nav-bar">
                        <a href="#">Pretest</a>
                        <a href="#">Clip online course</a>
                        <a href="#">Post test</a>
                        </div>
                    </div>

                    <button class="collapsible">lesson 4</button>
                    <div class="content"><br>
                    <div class="nav-bar">
                        <a href="#">Pretest</a>
                        <a href="#">Clip online course</a>
                        <a href="#">Post test</a>
                        </div>
                    </div>

                     <button class="collapsible">lesson 5</button>
                    <div class="content"><br>
                    <div class="nav-bar">
                        <a href="#">Pretest</a>
                        <a href="#">Clip online course</a>
                        <a href="#">Post test</a>
                        </div>
                    </div>
                </div>
                </td>
            </tr>
        </table>
    </div>
</div>
