.borderbox {
    border-radius: 10px;
    border: 0.5px solid rgb(216, 216, 216);
    margin: 20px 0px;
    padding: 0px;
    width: 100%;
    height: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

  .collapsible {
    background-color: #8baba0;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .collapsible:hover {
    background-color: #555;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    max-height: 0 ;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }
 
 
   .nav-bar a {
      margin: 10px 20px;
      float: left;
      display: inline;
      color: #585858;
      text-align: center;
      text-align : center;
      text-decoration: none;
      vertical-align: middle;
   }

   a {
    a:link, a:visited {
      background-color:rgb(224, 223, 223);
      color: white;
      text-align: center;
      text-decoration: none;
      display:inline;
    }
  }

  a:hover, a:active {
  text-decoration: none;
  border-bottom: 3px solid rgb(238, 119, 8);
}
