input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 14px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 0.5px solid rgb(216, 216, 216);
    }
    textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    font-size: 14px;
    box-sizing: border-box;
    }
    button{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    color: #000000;
    font-size: 14px;
    box-sizing: border-box;
    }
    
    .borderbox {
        border-radius: 10px;
        border: 0.5px solid rgb(216, 216, 216);
        margin: 20px 0px;
        padding: 0px;
        width: 100%;
        height: 250px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
      }
    
      input[type=sumit]:hover {
        background-color: #45a049;
      }
   
      .container {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }