<form (ngSubmit)="editUser(userForm)" #userForm="ngForm">
        <table style="width:80%; margin: 50px;">
            <tr>
                <td>
                    <label for="nTopic"> Topic</label>
                </td>
                <td>
                    <input type="text" name="nTopic"  ngModel size="100" style="width:70%">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="nTeacher">ผู้สอน</label>
                </td>
                <td>
                    <input type="text" name="nTeacher" ngModel size="20" style="width:70%;">
                </td>
            </tr>
            <tr>
                <td colspan="2">
                  <input type="submit" value="Submit" style="float: right;"/>
                </td>
                <td>
                  <input type="reset" value="Cancel" style="float: left;"/>
                </td>
              </tr>
        </table>
 </form>
<a routerLink="/home">Back To Main Page</a>