
<div class="leftcolumn">
  <div class="borderboxslide">
    <!-- Slideshow container -->
    <div class="slideshow-container" id="slideshow">
      <!-- Full-width images with number and caption text -->
      <div class="mySlides fade">
        <!-- <input type="image" src="./assets/img/Artboard 1 copy.mp4" width=100%/>  -->
        <video width="100%" height="40%" controls>
          <source src="./assets/img/O2O_Final.mp4" type="video/mp4"/>
      </video>
      </div>
      
      <div class="mySlides fade">
        <video width="100%" height="40%" autoplay>
          <source src="./assets/img/Page_Final.mp4" type="video/mp4"/>
        </video>
      </div>

      <div class="mySlides fade">
          <input type="image" src="./assets/img/banner.jpg" width=100%/> 
      </div>
      
      <!-- Next and previous buttons -->
      <a class="prev" (click)="plusSlides(-1)">&#10094;</a>
      <a class="next" (click)="plusSlides(1)">&#10095;</a>
    </div>
    <br>
      
    <!-- The dots/circles -->
    <div style="text-align:center" id="dotNav">
      <span class="dot" (click)="currentSlide(1)"></span>
      <span class="dot" (click)="currentSlide(2)"></span>
      <span class="dot" (click)="currentSlide(3)"></span>
    </div>
  
</div>
  <div class="borderbox">

  </div>
  <div class="borderbox2" width=30%></div>
  