
  .borderbox {
    background-color: #f17c36;
    border-radius: 10px;
    border: 0.5px solid rgb(216, 216, 216);
    margin: 10px 0px;
    padding: 0px;
    width: 100%;
    height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
   
  }

  .borderbox2 {
    background-color: #373635;
    border-radius: 10px;
    border: 0.5px solid rgb(216, 216, 216);
    margin: 10px 0px;
    padding: 0px;
    width: 100%;
    height: 600px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
   
  }

  .borderboxslide {
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 0.5px solid rgb(216, 216, 216);
    margin: 10px 0px;
    padding: 0px;
    width: 100%;
    height: 550px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
   
  }

  .card {
    padding: 50px;
    border-radius: 5px;
    border: 0.5px solid rgb(216, 216, 216);
    background-color: rgb(255, 255, 255);
    padding: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }

  //Slideshow testing
  * {box-sizing:border-box;}
  body {font-family: Verdana, sans-serif; margin:0}
  input, image {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1024x;
  position: relative;
  margin: auto;
  border: 1; 
border-color: #0000
}

/* Hide the images by default */
.mySlides {
  display: none;
  width: 100%;
  border: 1; 
  border-color: #0000
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(194, 193, 193);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.prev {
  left: 0;
  border-radius: 3px 0 0 3px;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

//end test