<h3>Register</h3>

<div class="container">
  <form (ngSubmit)="onSubmit(memberform)"  #memberform="ngForm">
    <table style="width:100%; margin:0 auto; text-align:left;">
      <tr>
        <td>
          <label for="fname">First Name</label>
        </td>
        <td>
          <label for="lname">Last Name</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" id="fname" name="firstname" ngModel placeholder="Your name.." size="50" style="width:90%;"/>
        </td>
        <td>
          <input type="text" id="lname" name="lastname" ngModel placeholder="Your last name.." size="50" style="width:90%;"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="email">Email</label>
        </td>
        <td>
          <label for="Tnum">Telephone Number</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="text" id="email" name="email" ngModel placeholder="Your Email @ .." size="50" style="width:90%;"/>
        </td>
        <td>
          <input type="text" id="Tnum" name="telephone" ngModel placeholder="Your Telephone Number .." size="50" style="width:90%;"/>
        </td>
      </tr>
      <tr>
        <td>
          <label for="pass">Password</label>
        </td>
        <td>
          <label for="cfpass">Confirm Password</label>
        </td>
      </tr>
      <tr>
        <td>
          <input type="password" id="pass" name="password" ngModel placeholder="Your Password .." size="50" style="width:90%;"/>
        </td>
        <td>
          <input type="password" id="cfpass" name="confirm Password" placeholder="Confirm Password .." size="50" style="width:90%;"/>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Submit" style="float: right;"/>
        </td>
        <td>
          <input type="reset" value="Cancel" style="float: left;"/>
        </td>
      </tr>
    </table>
  </form>
</div>
